<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
</head>

<body>
    <h3>Sorry for having forked this I'm just looking to learn on a project :)</h3>
    <h1>Welcome to My Flask App</h1>
    <p><strong>Your Name:</strong>ta1wan</p>
    <p><strong>Project Name:</strong> Lou's Study Blog</p>
    <p><strong>Website Version:</strong> V2.0</p>
    <p><strong>Server Hostname:</strong> {{ server_hostname }}</p>
    <p><strong>Current Date:</strong> {{ current_date }}</p>
</body>

</html>